html{
    margin: 10px 10px ;
}

.search-status{
    font-weight: bold;
}

.input-width{
	width: 605px;
}

.check-td{
	width: 20px;
	display: block;
}

.details-td{
	width: 1080px;
}


.changelog-td{
	width: 490px;
	margin-right: 10px;
}

.deb-td{
	width: 290px;
}

.git-td{
	width: 290px;
	margin-right: 10px;
}

.name-div{
	width: 300px;
}

.version-div{
	width: 300px;
}